    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="index" class="pure-menu-link">Home</a></li>
     <li class="pure-menu-item"><a href="syllabus" class="pure-menu-link">Syllabus</a></li>
     <li class="pure-menu-item"><a href="http://lualure.github.io/info" class="pure-menu-link">Source</a></li>
   <li class="pure-menu-item"><a href="http://tiny.cc/fss17give" class="pure-menu-link">Submit</a></li>
   <li class="pure-menu-item"><a href="http://fss17.slack.com" class="pure-menu-link">Chat</a></li>
            </ul>

